{% extends "base.html" %}
{% block title %}Computing Club: About Us{% endblock %}

{% block content %}
            <!--  About the Team-->
        <div class="s12 center">
            <div class="image-container">
                {% load static %}
                <div><img class="responsive-img" src="{% static 'images/sc.jpg' %}" alt="Unsplashed background img 1"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 class="header">Meet the Club</h2>
                <p class="caption">We are a group of students from Skagit Valley College</p>
            </div>
            <br />

            <div class="row">
                <div class="col s12 m3 center-on-small-only">
                    <div class="image-container">
                        <img class="responsive-img" src="{% static 'images/logo.jpg'%}" alt="Image not was not loaded!">
                    </div>
                </div>
                <div class="col s12 m9">
                    <h4>Hilda Halliday</h4>
                    <p>Our esteemed advisor as well as teacher and faculty here at Skagit Hilda teaches math and computer science in addition to all her work across campus and the community. As the primary contact for the club she can be reached through her email or during her office hours in Lewis Hall where she tirelessly files all the clubs paperwork for us. </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m3 center-on-small-only">
                    <div class="image-container">
                        <img class="responsive-img" src="{% static 'images/logo.jpg' %}" alt="image was not loaded!">
                    </div>
                </div>
                <div class="col s12 m9">
                    <h4>Elijah Cherney</h4>
                    <p>Original co-founder and part-time advisor for the club Elijah has been around from the beginning. Using his Computer Systems degree from SVC and years of DIY hobbiest experience he deftly switches between programming and soldering, micro-controllers and motherboards to bring life to any project we dream up.</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3 center-on-small-only">
                    <div class="image-container">
                        <img class="responsive-img" src="{% static 'images/logo.jpg' %}" alt="image was not loaded!">
                    </div>
                </div>
                <div class="col s12 m9">
                    <h4>Alex Loaiza</h4>
                    <p>Our Current acting president and a CIS student here at Skagit, Alex received the Activity Honors Award last year for his work in our club and the surrounding community. A certified WhiteHat, IT help desk Technician and proud member of our thriving latina community here on campus Alex is always leading the Computing Club to new heights!</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3 center-on-small-only">
                    <div class="image-container">
                        <img class="responsive-img" src="{% static 'images/logo.jpg' %}" alt="image was not loaded!">
                    </div>
                </div>
                <div class="col s12 m9">
                    <h4>Mina Shin</h4>
                    <p>International exchange student from Korea and exceptional roboticist Mina has been our club's Vice President while she studies computer science in her goal to create the worlds first sentient AI! Her organized attitude and incredible talent with robot's has added facets to our club that have left far reaching changes throughout the club.</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3 center-on-small-only">
                    <div class="image-container">
                        <img class="responsive-img" src="{% static 'images/logo.jpg' %}">
                    </div>
                </div>
                <div class="col s12 m9">
                    <h4>Radar Supinee</h4>
                    <p>Since coming on board as our Public realtions officer Radar has contributed his </p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m3 center-on-small-only">
                    <div class="image-container">
                        <img class="responsive-img" src="{% static 'images/logo.jpg' %}">
                    </div>
                </div>
                <div class="col s12 m9">
                    <h4>LinFeng Li</h4>
                    <p>As our secretary Li has wholeheartedly been involved with every aspect of the club </p>
                </div>
            </div>
        </div>
{% endblock content %}
