{% extends "base.html" %}
{% block title %}Computing Club: Projects{% endblock %}

{% block content %}
        <div id="page-content-wrapper">
            <div class="">
                <ul>
                    <div id="index-banner" class="parallax-container">
                        <div class="section no-pad-bot">
                            <div class="container">
                                <br>
                                {% load static%}
                                <div class="row center"><img class="card-panel hoverable" id="responsive-img" src="{% static 'images/minabot.jpg'%}" style="width:30vh"></div>
                                <!--                    <h3 class="header center white-text text-lighten-2">COMPUTING CLUB</h3>-->
                                <div class="row center">
                                    <h2 class="header white-text col s12 light">MindCuber</h2>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="parallax"><img src="{% static 'images/minabot-bg.jpg'%}" alt="Unsplashed background img 1"></div>
                    </div>
                    <li>
                        <div class="container">
                            <h5>More about MindCuber</h5>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </li>
                    <br>
                    <br>


                    <div id="index-banner" class="parallax-container">
                        <div class="section no-pad-bot">
                            <div class="container">
                                <br>
                                <div class="row center"><img class="card-panel hoverable" id="responsive-img" src="../static/images/logo.jpg" style="width:30vh"></div>
                                <!--                    <h3 class="header center white-text text-lighten-2">COMPUTING CLUB</h3>-->
                                <div class="row center">
                                    <h2 class="header white-text col s12 light">LineFollower</h2>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="parallax"><img src="../static/images/minabot.jpg" alt="Unsplashed background img 1"></div>
                    </div>
                    <li>
                        <div class="container">
                            <h5> More About LineFollower</h5>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </li>
                    <br>
                    <br>

                    <div id="index-banner" class="parallax-container">
                        <div class="section no-pad-bot">
                            <div class="container">
                                <br>
                                <div class="row center"><img class="card-panel hoverable" id="responsive-img" src="../static/images/logo.jpg" style="width:30vh"></div>
                                <!--                    <h3 class="header center white-text text-lighten-2">COMPUTING CLUB</h3>-->
                                <div class="row center">
                                    <h2 class="header white-text col s12 light">R2Pi2</h2>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="parallax"><img src="../static/images/minabot.jpg" alt="Unsplashed background img 1"></div>
                    </div>
                    <li>
                        <div class="conatiner">
                            <h5>More About R2Pi2</h5>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </li>
                    <br>
                    <br>
                </ul>
            </div>
        </div>
{% endblock %}
