{% extends "base.html" %}
{% block title %}Computing Club: Showcase{% endblock %}

{% block content %}
<!--////////// showcase code starts here /////////-->
<br>
<br>
<div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="The 100" src="http://s27.postimg.org/cle8r44yb/100xp.jpg">
      <h5 class="center"><a href="/project/" target="_blank">Projects</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="DLSU Hacker Cup" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg">
      <h5 class="center"><a href="/trips/" target="_blank" >Field Trips</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Gaggle Mail" src="http://s27.postimg.org/9328uq42b/gaggle.jpg">
      <h5 class="center"><a href="/products/" target="_blank">Products</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Fedora Indonesia" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg">
      <h5 class="center"><a href="/events/" target="_blank" >Events</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Emerald" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg">
      <h5 class="center"><a href="/sponsors/" target="_blank">Sponsors</a></h5>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img z-depth-1" data-caption="Caliber" src="http://s27.postimg.org/xtrx8jjf7/dlsuhackercup.jpg">
      <h5 class="center"><a href="/community/" target="_blank">Community</a></h5>
    </div>
  </div>
<br>
<br>


<!--////////// showcase code stops here! /////////-->
{% endblock %}
